[submodule "FNA"]
	path = FNA
	url = https://github.com/FNA-XNA/FNA
[submodule "MoonTools.ECS"]
	path = MoonTools.ECS
	url = https://gitea.moonside.games/MoonsideGames/MoonTools.ECS
[submodule "FontStashSharp"]
	path = FontStashSharp
	url = https://github.com/FontStashSharp/FontStashSharp
[submodule "ContentImporter"]
	path = ContentImporter
	url = https://github.com/prophetgoddess/ContentImporter
